@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome!</h1>
    <p>This site allows you to connect to a database with stored actors and movies.</p>
    <h5>Features:</h5>
    <ul class="centered-list">
        <li>Add/Edit/Delete Actors</li>
        <li>Add/Edit/Delete Movies</li>
        <li>See tweets and their sentiment about an actor.</li>
        <li>See reviews and their sentiment about a movie.</li>
    </ul>
</div>

