@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>You should have no expectation of privacy on the internet (and especially some site written by someone who is still learning all this). There is no spyware installed on this site, however.</p>

